main {
  width: 75%;
  margin: 75px auto;
}

.content {
  width: 45%;
  margin: auto;
  text-align: center;
  padding: 0 0;
  margin-bottom: 30px;
  
  &__header {
    color: $very-dark-blue;
    margin-bottom: 15px;
    font: {
      size: 35px;
      weight: 700;
    }
    span {
      font-weight: 200;
      display: block;
    }
  }

  &__description {
    color: $grayish-blue;
  }
}

.cards {
  margin: 50px 0;
  padding: 0 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  height: 455px;
}

.card {
  background-color: $white;
  margin-bottom: 0px;
  border-radius: 10px;
  box-shadow: 0 5px 10px $grayish-blue;

  &--one {
    grid-area: 1/1/2/2;
    align-self: center;
  }
  &--two {
    grid-area: 1/2/2/3;
    align-self: flex-start;
  }
  &--three {
    grid-area: 1/2/2/3;
    align-self: flex-end;
  }
  &--four {
    grid-area: 1/3/2/4;
    align-self: center;
  }
}